body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #151515;
  color: #9a9999;
}

h1 {
  color: red;
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
}

.todos {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.todo {
  display: flex;
  background-color: #201f1f;
  gap: 30px;
  border-radius: 12px;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.todo-check {
  margin-right: 10px;
  text-decoration: none;
}

input[type="checkbox"] {
  position: relative;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type="checkbox"]:before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 0;
  left: 0;
  border: 2px solid #555555;
  background-color: #000;
}
input[type="checkbox"]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid #555555;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 4px;
  left: 8px;
}
